<div class="form" >
<%= form_for(@trip) do |f| %>
  <% if @trip.nil? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_area :title, class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
