<div id = "left" >
Need to create a new trip?
<br>
<%= link_to "Create trip", new_trip_path %>

<div class = "userspath">
Click the below link to see all the users of this application:
<%= link_to "users", users_path %>
</div>
</div>





<div id ="center" class = "trips">
	
		<% @trips.each do |trip| %>
		
			
		
		

		<div class="wrapper">
    		
    		<div class="card radius shadowDepth1">
    			<div class="card__image border-tlr-radius">
    				<img src="http://lorempixel.com/400/200/sports/" alt="image" class="border-tlr-radius">
                </div>

    			<div class="card__content card__padding">
                    <div class="card__share">
                        <div class="card__social">  
                            <a class="share-icon facebook" href="#"><span class="fa fa-facebook"></span></a>
                            <a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
                            <a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
                        </div>

                        <a id="share" class="share-toggle share-icon" href="#"></a>
                    </div>

    				<div class="card__meta">
                        <time><%= trip.created_at %></time>
    				</div>

    				<article class="card__article">
	    				<h2><%= link_to trip.name, trip %></h2>

	    				<p><%= link_to trip.description %></p>
	    			</article>
    			</div>

    			<div class="card__action">
    				
    				<div class="card__author">
    					<img src="http://lorempixel.com/40/40/sports/" alt="user">
    					<div class="card__author-content">
    						By <%= link_to trip.user.email, trip.user %>
    					</div>
    				</div>
    			</div>
    		</div>    
    	</div>
	​	<% end %>
   <%= will_paginate %>
</div>​

<div id = "right" >
<section class="stats">
  <%= render 'shared/stats' %>
</section>
  <% if @followed_users.any? %>
    Followed users:
    <br>
    <%  @followed_users.each do |user| %>
      <%= user.email %>
    <% end %>
    <br>
  <% end %>
  <% if @following_users.any? %>
    Following users:
    <br>
    <%  @following_users.each do |user| %>
      <%= user.email %>
      <% user.trips.each do |trip| %>
        <%= trip.name %>
      <% end %>
    <% end %>
    <br>
  <% end %>
</div>
